
.btns{
background-color: #3A1D64;
}

.btns .b1{
background-color: #b61f34;
color: white;
font-size: 15px;
border-color: #134563;
}

.btns .b2{
background-color: white;
color: #134563;
font-size: 15px;
border-color: white;
}

.btns .b1:hover {
opacity: 0.9;
transition: 0.5s;
}

.btns .b2:hover {
opacity: 0.9;
transition: 0.5s;
}

.nav-pills .nav-link.active {
background-color: #3A1D64 !important;
color: white;
border-radius: 0;
transition: 0.5s;
border: none;
}

ul {
list-style: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 450px !important;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pfont {
  font-size: 18px;
  line-height: 30px;
}

ul li {
  list-style: none;
}

/*---------Diseases Accordion------------*/
.accordion {
  width: 100%;
}

.accordion > li:first-child {
  border: none;
}

.accordion > li {
  position: relative;
  border-top: 1px solid #2ea1de;
}

.accordion .link a {
  position: relative;
  display: block;
  padding: 15px 20px;
  color: #1b3746;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.accordion .link > a {
  background-color: #3A1D64;
  color: #f8f9f9;
  padding: 20px;
}

/* ----------submenu---------------- */

.submenu {
  display: none;
  background: #f8f9f9;
}

.accordion .submenu > li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #3A1D64;
  cursor: pointer;
}

.accordion .submenu > li:first-child {
  border: none;
}

.accordion .submenu > li {
  border-top: 1px solid #dae0e0;
}

.accordion .submenu > li a:hover {
  background: #e6ecec;
  color: #1795d8;
  padding: 10px 15px 10px 20px;
  transition: padding 0.2s ease-in;
}

/* .has-submenu .sub-submenu {
  display: none;
} */
.tcard {
  padding: 10px 20px;
  border: none;
  box-shadow: -1px 3px 5px #a7a7a7;
}
.testimonial {
  font-size: 1rem;
  line-height: 1.4rem;
}
.disease {
  font-size: 0.9rem;
  font-weight: 600;
}
.owl-carousel {
  margin-bottom: 15px;
}
.owl-carousel .owl-stage-outer {
  padding: 40px 10px;
  height: 380px;
}
.owl-carousel .owl-item img {
  width: 45px !important;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.dcard {
  height: 200px  auto;
  margin-bottom: 40px;
  border-radius: 2px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
      cursor: pointer;
    transition: 0.6s;
  
}

.dcard:hover {
  transform: scale(1, 1);
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.1), 
    -5px -5px 10px 5px rgba(0,0,0,0.1);
}

/*----------Doctors card media fix---------*/
@media only screen and (min-width: 768px) {
  .dcard {
    min-height: 200px !important;
  }
  .dcard p{
    line-height: 22px;
  }
}
@media only screen and (max-width: 550px) {
  .dcard {
    text-align: center;
  }
}

