:root{
    --bs-white: #FFFFFF;
    --bs-black:#000000;
    --bs-purple:#9D1E5F;
    --bs-blue:#3A1D64;
    --bs-red: #b61f34;
    --bs-blue-4: #502C82;
}

.text-blue {
  color: var(--bs-blue);
}

.text-purple {
  color: var(--bs-purple);
}